#navbarTogglerDemo01{
  direction: ltr;
    
}
.justify-content-center{
  margin-right: -8em;
}
.name2 ,.name1{
  font-family: Blackadder ITC; font-size: 1.9em;
  color: white;
}
.social{
  font-size: 1.7em;
  color: azure;
  position: ;

}
.justify-content-end{
  margin-right:-0em;
}
.menu{
  font-size:1.em; padding:.7em;margin: .5em;
}
.btn{
  background-color: white;
  color: black;
  margin-left: .8em;
  border-radius: 2em;
}
.btn1{
  color: black;
  font-size: 1em;

}